# direnv config

OPAM_SWITCH_PREFIX=${PWD}/_opam
CAML_LD_LIBRARY_PATH=${OPAM_SWITCH_PREFIX}/lib/stublibs:${OPAM_SWITCH_PREFIX}/lib/ocaml/stublibs:${OPAM_SWITCH_PREFIX}/lib/ocaml
OCAML_TOPLEVEL_PATH=${OPAM_SWITCH_PREFIX}/lib/toplevel
PATH_add ${OPAM_SWITCH_PREFIX}/bin

env_vars_required OPAM_SWITCH_PREFIX CAML_LD_LIBRARY_PATH OCAML_TOPLEVEL_PATH
